RewriteEngine On

# Health check
RewriteRule ^health$ index.php [L]

<Files ~ "^\.">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "\.env$">
    Order allow,deny
    Deny from all
</Files>

<Files ~ "\.sql$">
    Order allow,deny
    Deny from all
</Files>
